
.customize-form-control-control .form-fields-elements-wrap,
.customize-form-control-control .input-type-elements-wrap {
  background: grey;
  color: white;
  padding: 10px;
  width: 50%;  
  font-size: 15px;
  height: 100%;
}

.customize-form-control-control .form-field-element,
.customize-form-control-control .input-type-element,
.customize-form-control-control .form-field-actions .dashicon {
  cursor: pointer;
}

.customize-form-control-control .form-field-element.input-field .form-field-label {
  margin-right: 5px;
}

.customize-form-control-control .form-field-element .has-more-indicator .dashicon:before {
  font-size: 13px;
}

.customize-form-control-control .form-fields-wrap {
  display: flex;
}

.customize-form-control-control .form-fields .form-field {
  position: relative;
}

.customize-form-control-control .form-field-actions {
  position: absolute;
  top: 0;
  right: 0;
}